ul#task {
	/* SUPERCEDED BY BS CLASS DECLARATION ON THIS UL */
	/*list-style: none;*/
	}

div.jumbotron {
	background-color: #eef;
}

.completeStyle {
	color: #ccc;
	text-decoration: line-through;
}

.incompleteStyle {
	background: yellow;
}
